@use "../global/config" as *;
body {
  font-size: 14px;
  font-family: $ff;
  color: $clr-text;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  text-align: initial;
  -webkit-tap-highlight-color: transparent;
}
