@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

$ff-heading: "Fraunces", serif;
$ff: "Montserrat", sans-serif;
$medium: 500;
$bold: 700;

:root {
  font-size: 62.5%;
}

$clr-bg: var(--clr-primary100);
$clr-text: var(--clr-neutral500);
$clr-primary300: var(--clr-primary300);
$clr-neutral500: var(--clr-neutral500);

body {
  font-size: 14px;
}
